jupyterlab
cryptography
datetime
dotenv
fredapi
numpy
pandas
plotly
requests
scipy
scikit-learn
snowflake-sqlalchemy
sqlalchemy
statsmodels
ta
ta-lib
matplotlib
yfinance
openai
#google-cloud-bigquery
#tradingpattern
seaborn
fastparquet
networkx
python-louvain
requests
get-all-tickers
lxml
xgboost
#protobuf==3.20.3
#tensorflow
requests_cache
shap