jupyterlab
cryptography
datetime
dotenv
fredapi
numpy
pandas
plotly
requests
scipy
scikit-learn
snowflake-sqlalchemy
sqlalchemy
statsmodels
ta
ta-lib
matplotlib
yfinance
openai
google-cloud-bigquery
tradingpattern
seaborn
fastparquet
networkx
python-louvain
requests